ul, li {
  list-style: none;
}

h1 {
  text-align: center;
  font-weight: 400;
  color: grey;
  margin-bottom: 30px;
}

li:last-child {
  border-bottom: none;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover {
  outline: none;
  box-shadow: none !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}

@media (min-width: 900px) {
  .navbar-collapse.hidden-toggle-nav {
    display: none !important;
  }
}