@import url('https://fonts.googleapis.com/css?family=Quicksand');

body {
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
}

ul, li {
  list-style: none;
}

h1 {
  text-align: center;
  font-weight: 400;
  color: grey;
  margin-bottom: 30px;
}

li:last-child {
  border-bottom: none;
}

a:focus,
a:active,
a:hover,
button:focus,
button:active,
button:hover {
  outline: none;
  box-shadow: none !important;
}

.navbar-nav .dropdown-menu {
  position: absolute;
}

.btn.disabled, .btn:disabled {
  cursor: not-allowed;
}


.ui.toggle.checkbox input:checked~.box, .ui.toggle.checkbox input:checked~label,
.ui.toggle.checkbox input:focus:checked~.box, .ui.toggle.checkbox input:focus:checked~label,
.ui.form .field>label {
  color: inherit !important;
}

@media (min-width: 900px) {
  .navbar-collapse.hidden-toggle-nav {
    display: none !important;
  }
}